<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1 class="p-relative">المرضي</h1>
  <span style="margin-left: 30px;">
    <a style="background-color: #bf0000;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 15px;
                font-size: 0.9em;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease;" (click)="addpatient()">اضافه مريض</a>
  </span>
</div>
<div class="empty-div"></div>

<div class="friends-page d-grid m-20 gap-20">
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-01.jpg" alt="" />
      <h4 class="m-0">Ahmed Nasser</h4>

    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>

  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-02.jpg" alt="" />
      <h4 class="m-0">Omar Fathy</h4>
    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-03.jpg" alt="" />
      <h4 class="m-0">Omar Ahmed</h4>
    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-04.jpg" alt="" />
      <h4 class="m-0">Shady Nabil</h4>
    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-05.jpg" alt="" />
      <h4 class="m-0">Mohamed Ibrahim</h4>
    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-04.jpg" alt="" />
      <h4 class="m-0">Amr Hendawy</h4>
    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-05.jpg" alt="" />
      <h4 class="m-0">Ahmed Abuzaid</h4>
    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-01.jpg" alt="" />
      <h4 class="m-0">Gareeb Elshiekh</h4>

    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
  <div class="friend bg-white rad-6 p-20 p-relative">
    <div class="contact">
      <i class="fa-solid fa-phone"></i>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="txt-c">
      <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/imgs/friend-03.jpg" alt="" />
      <h4 class="m-0">Hamza</h4>
    </div>
    <div class="icons fs-14 p-relative">
      <div class="info between-flex fs-13">
        <span class="c-grey">Joined 02/10/2021</span>
        <div>
          <a class="bg-danger c-white btn-shape fs-6">زياره</a>
        </div>
      </div>
    </div>
  </div>
</div>
