<section class="container-section1">
  <div class="section1-img">
      <div class="section1-content">
          <h3 class="section1-title1">نحن هنا لتلبية احتياجاتك</h3>
          <div style="width: 80px; height: 1px; border: 3px solid red; margin-top: 3px;"></div>
          <h2 class="section1-title2">منصتنا,
              <br>
              <span class="section1-title3"> نحن نعتني</span>
          </h2>
          <h3 class="section1-title4">"نحن منصتنا تعمل علي مساعدة الاخصائي الذي يشخص مرضي
              <br> الامراض النفسية في مرحله الكشف و متابعة الحاله المرضيه
              <br> و مواعيد اداء الاختبارات و المزيد من الخدمات الاخرى
          </h3>
          <a class="section1-btn1" href="components/categories-list.html">تصفح الخدمات</a>
      </div>
  </div>
</section>
