<h1 class="p-relative">مقاييس اللغة</h1>
<div class="projects-page d-grid m-20 gap-20">
  <div class="project bg-white p-20 rad-6 p-relative">
    <h4 class="m-0">اختبار اللغة ل ابو حسيبه</h4>
    <p class="c-grey mt-10 mb-10 fs-14">Karim Dashboard Project Design And Programming And Hosting</p>
    <div class="do d-flex">
      <a (click)="goToTest()" class="fs-13 rad-6 bg-eee" style="color: black; padding: 5px 15px;">اداء الاختبار</a>
    </div>
  </div>
  <div class="project bg-white p-20 rad-6 p-relative">
    <h4 class="m-0">اختبار Real Scale</h4>
    <p class="c-grey mt-10 mb-10 fs-14">Academy Portal Project Design And Programming</p>
    <div class="do d-flex">
      <a (click)="goToTest()" class="fs-13 rad-6 bg-eee" style="color: black; padding: 5px 15px;">اداء الاختبار</a>
    </div>
  </div>
  <div class="project bg-white p-20 rad-6 p-relative">
    <h4 class="m-0">اختبار Apple Tool</h4>
    <p class="c-grey mt-10 mb-10 fs-14">Chatting Application Project Design</p>

    <div class="do d-flex">
      <a (click)="goToTest()" class="fs-13 rad-6 bg-eee" style="color: black; padding: 5px 15px;">اداء الاختبار</a>
    </div>
  </div>
  <div class="project bg-white p-20 rad-6 p-relative">
    <h4 class="m-0">اختبار اللغه لنهله الرفاعي</h4>
    <p class="c-grey mt-10 mb-10 fs-14">Ahmed Dashboard Project Design And Programming And Hosting</p>
    <div class="do d-flex">
      <a (click)="goToTest()" class="fs-13 rad-6 bg-eee" style="color: black; padding: 5px 15px;">اداء الاختبار</a>
    </div>
  </div>
  <div class="project bg-white p-20 rad-6 p-relative">
    <h4 class="m-0">اختبار شده التلعثم لنهلة الرفاعي</h4>
    <p class="c-grey mt-10 mb-10 fs-14">Ahmed Portal Project Design And Programming</p>

    <div class="do d-flex">
      <a (click)="goToTest()" class="fs-13 rad-6 bg-eee" style="color: black; padding: 5px 15px;">اداء الاختبار</a>
    </div>
  </div>
</div>
