.container-flid {
  height: 92vh;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input{
  border: none;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 7px;
}
.container-flid .left {
  width: 50%;
  background-image: url(../../../assets/images/dr3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px 0 0 20px;

}

.container-flid .right {
  width: 50%;
  border-radius: 0 20px 20px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: rgb(242, 244, 248);
}

.regis{
  display: block;
  text-decoration: none;
  color: rgb(187, 45, 59);
}
