<h1 class="p-relative">المقاييس</h1>
<div class="empty-div"></div>
<div class="courses-page d-grid m-20 gap-20">
  <div class="course bg-white rad-6 p-relative">
    <img class="cover" src="../../../assets/imgs/course-01.jpg" alt="" />
    <div class="p-20">
      <h4 class="m-0">مقاييس الذكاء</h4>
      <p class="description c-grey mt-15 fs-14">
        Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design
        Architecture
      </p>
    </div>
    <div class="info p-15 p-relative between-flex">
      <span>
        <a class="title bg-danger c-white btn-shape" href="..">عرض</a>
      </span>
    </div>
  </div>
  <div class="course bg-white rad-6 p-relative">
    <img class="cover" src="../../../assets/imgs/course-02.jpg" alt="" />
    <div class="p-20">
      <h4 class="m-0">مقاييس اللغة</h4>
      <p class="description c-grey mt-15 fs-14">
        Master The Art Of Data Strcuture And Famous Algorithms Like Sorting, Dividing And Conquering
      </p>
    </div>
    <div class="info p-15 p-relative between-flex">
      <a class="title bg-danger c-white btn-shape" href="..">عرض</a>

    </div>
  </div>
  <div class="course bg-white rad-6 p-relative">
    <img class="cover" src="../../../assets/imgs/course-03.jpg" alt="" />
    <div class="p-20">
      <h4 class="m-0">صعوبات التعلم
      </h4>
      <p class="description c-grey mt-15 fs-14">
        Mastering Responsive Web Design And Media Queries And Know Everything About Breakpoints
      </p>
    </div>
    <div class="info p-15 p-relative between-flex">
      <a class="title bg-danger c-white btn-shape" href="..">عرض</a>
    </div>
  </div>
  <div class="course bg-white rad-6 p-relative">
    <img class="cover" src="../../../assets/imgs/course-04.jpg" alt="" />
    <div class="p-20">
      <h4 class="m-0">مقاييس التوحد
      </h4>
      <p class="description c-grey mt-15 fs-14">
        Mastering Python To Prepare For Data Science And AI And Automating Things in Your Life
      </p>
    </div>
    <div class="info p-15 p-relative between-flex">
      <a class="title bg-danger c-white btn-shape" href="..">عرض</a>
    </div>
  </div>
  <div class="course bg-white rad-6 p-relative">
    <img class="cover" src="../../../assets/imgs/course-01.jpg" alt="" />
    <div class="p-20">
      <h4 class="m-0">مقاييس التكامل الحسي
      </h4>
      <p class="description c-grey mt-15 fs-14">
        PHP Tutorials And Examples And Practice On Web Application And Connecting With Databases
      </p>
    </div>
    <div class="info p-15 p-relative between-flex">
      <a class="title bg-danger c-white btn-shape" href="..">عرض</a>
    </div>
  </div>
  <div class="course bg-white rad-6 p-relative">
    <img class="cover" src="../../../assets/imgs/course-02.jpg" alt="" />
    <div class="p-20">
      <h4 class="m-0">مقاييس نفسية + شخصية</h4>
      <p class="description c-grey mt-15 fs-14">
        Master The Art Of Data Strcuture And Famous Algorithms Like Sorting, Dividing And Conquering
      </p>
    </div>
    <div class="info p-15 p-relative between-flex">
      <a class="title bg-danger c-white btn-shape" href="..">عرض</a>

    </div>
  </div>
  <div class="course bg-white rad-6 p-relative">
    <img class="cover" src="../../../assets/imgs/course-03.jpg" alt="" />
    <div class="p-20">
      <h4 class="m-0">مقاييس الحركه</h4>
      <p class="description c-grey mt-15 fs-14">
        Mastering Responsive Web Design And Media Queries And Know Everything About Breakpoints
      </p>
    </div>
    <div class="info p-15 p-relative between-flex">
      <a class="title bg-danger c-white btn-shape" href="..">عرض</a>
    </div>
  </div>
</div>
