<h1 class="p-relative">الاخصائيين</h1>
<div class="empty-div"></div>
<div class="friends-page d-grid m-20 gap-20">
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr1.png" alt="" />
            <h4 class="m-0">Ahmed Nasser</h4>

        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>

    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr4.png" alt="" />
            <h4 class="m-0">Omar Fathy</h4>
        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr3.png" alt="" />
            <h4 class="m-0">Omar Ahmed</h4>
        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr2.png" alt="" />
            <h4 class="m-0">Shady Nabil</h4>
        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr1.png" alt="" />
            <h4 class="m-0">Mohamed Ibrahim</h4>
        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr2.png" alt="" />
            <h4 class="m-0">Amr Hendawy</h4>
        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr4.png" alt="" />
            <h4 class="m-0">Ahmed Abuzaid</h4>
        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr3.png" alt="" />
            <h4 class="m-0">Gareeb Elshiekh</h4>

        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="txt-c">
            <img class="rad-half mt-10 mb-10 w-100 h-100" src="../../../assets/images/dr1.png" alt="" />
            <h4 class="m-0">Hamza</h4>
        </div>
        <div class="icons fs-14 p-relative">
            <div class="info between-flex fs-13">
                <span class="c-grey">Joined 02/10/2021</span>
                <div>
                    <a class="bg-danger c-white btn-shape fs-6">زياره</a>
                </div>
            </div>
        </div>
    </div>
</div>
