<app-navbar></app-navbar>
<!--Start Section 1-->
<section class="container-section1" id="home">
  <div class="section1-img">
    <div class="section1-content">
      <h3 class="section1-title1">نحن هنا لتلبية احتياجاتك</h3>
      <div class="empty-div"></div>
      <h2 class="section1-title2">منصتنا,
        <br>
        <span class="section1-title3"> نحن نعتني</span>
      </h2>
      <h3 class="section1-title4">"نحن منصتنا تعمل علي مساعدة الاخصائي الذي يشخص مرضي
        <br> الامراض النفسية في مرحله الكشف و متابعة الحاله المرضيه
        <br> و مواعيد اداء الاختبارات و المزيد من الخدمات الاخرى
      </h3>
      <a class="section1-btn1" href="#services">تصفح الخدمات</a>
    </div>
  </div>
</section>
<!--end Section 1-->
<!--start section 2-->
<section class="container-section2-aboutus" id="services">
  <div class="container-section2-aboutus-d1">
    <div class="section2-aboutus">
      <div class="section2-aboutus-content">
        <h3 class="section2-aboutus-title1">تعرف علي خدمتنا</h3>
        <div class="empty-div" style="margin: auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!--end section 2-->
<!-- ===============================Laila Edit Content================================== -->
<!--start section 3-->
<section class="section3" style="margin-bottom: 100px;">
  <div class="container-section3-aboutus" style="text-align: center;">
    <div class="section3-aboutus-icon1">
      <i class="fa-solid fa-clock"></i>
      <h3 class="section3-aboutus-title1"> الوقت </h3>
      <h3 class="section3-aboutus-title4"> مهمتنا هي توفير وقت الاخصائي
        <br> المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا
        <br> يدركون ما يعقبها من الألم والأسي المحتم.
      </h3>
    </div>
    <div class="section3-aboutus-icon1" style="margin: 0px 60px;">
      <i class="fas fa-medkit"></i>
      <h3 class="section3-aboutus-title1"> التشخيص المثالي </h3>
      <h3 class="section3-aboutus-title4">علي الجانب الآخر نشجب ونستنكر هؤلاء الرجال
        <br> المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا
        <br> يدركون ما يعقبها من الألم والأسي المحتم.
      </h3>
    </div>
    <div class="section3-aboutus-icon1">
      <i class="fa-solid fa-book-medical"></i>
      <h3 class="section3-aboutus-title1"> تخزين المستندات</h3>
      <h3 class="section3-aboutus-title4">علي الجانب الآخر نشجب ونستنكر هؤلاء الرجال
        <br> المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا
        <br> يدركون ما يعقبها من الألم والأسي المحتم.
      </h3>
    </div>
  </div>
  <div class="container-section3-aboutus" style="text-align: center;">
    <div class="section3-aboutus-icon1">
      <i class="fas fa-user-nurse"></i>
      <h3 class="section3-aboutus-title1">الخطه الامثل للعلاج</h3>
      <h3 class="section3-aboutus-title4">علي الجانب الآخر نشجب ونستنكر هؤلاء الرجال
        <br> المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا
        <br> يدركون ما يعقبها من الألم والأسي المحتم.
      </h3>
    </div>
    <div class="section3-aboutus-icon1" style="margin: 0px 60px;">
      <i class="fas fa-ambulance"></i>
      <h3 class="section3-aboutus-title1">تقارير شهريه</h3>
      <h3 class="section3-aboutus-title4">علي الجانب الآخر نشجب ونستنكر هؤلاء الرجال
        <br> المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا
        <br> يدركون ما يعقبها من الألم والأسي المحتم.
      </h3>
    </div>
    <div class="section3-aboutus-icon1">
      <i class="fas fa-hospital-alt"></i>
      <h3 class="section3-aboutus-title1"> التذكره بمعاد الاختبار</h3>
      <h3 class="section3-aboutus-title4">علي الجانب الآخر نشجب ونستنكر هؤلاء الرجال
        <br> المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا
        <br> يدركون ما يعقبها من الألم والأسي المحتم.
      </h3>
    </div>
  </div>
</section>
<!--end section 3-->
<!--start section 4-->
<section class="container-section2-aboutus" id="about">
  <div class="container-section2-aboutus-d1">
    <div class="section2-aboutus">
      <div class="section2-aboutus-content">
        <h3 class="section2-aboutus-title1">من نحن ؟</h3>
        <div class="empty-div" style="margin: auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!--end section 4-->
<!--start section 5-->
<section class="cards" id="cards">
  <div class="card">
    <div class="card-image"></div>
    <div class="card-info">
      <h3> المؤسسه</h3>
      <div class="empty-div" style="border-color: rgb(225, 15, 40); margin: auto;"></div>
      <h2>نبيل الحلبي
      </h2>
      <p>بعض تم ماذا العناد. فكانت الأولية والإتحاد انه أم, و ماشاء ديسمبر ذات. أكثر والديون دون بل. وقد أي</p>
      <button style="margin-top: 43px;">اعرف اكثر</button>
    </div>
  </div>
  <div class="card">
    <div class="card-image"></div>
    <div class="card-info">
      <h3> المؤسسه</h3>
      <div class="empty-div" style="border-color: rgb(225, 15, 40); margin: auto;"></div>
      <h2>نبيل الحلبي
      </h2>
      <p>بعض تم ماذا العناد. فكانت الأولية والإتحاد انه أم, و ماشاء ديسمبر ذات. أكثر والديون دون بل. وقد أي</p>
      <button style="margin-top: 43px;">اعرف اكثر</button>
    </div>
  </div>
  <div class="card">
    <div class="card-image"></div>
    <div class="card-info">
      <h3> المؤسسه</h3>
      <div class="empty-div" style="border-color: rgb(225, 15, 40); margin: auto;"></div>
      <h2>نبيل الحلبي
      </h2>
      <p>بعض تم ماذا العناد. فكانت الأولية والإتحاد انه أم, و ماشاء ديسمبر ذات. أكثر والديون دون بل. وقد أي</p>
      <button style="margin-top: 43px;">اعرف اكثر</button>
    </div>
  </div>
  <div class="card">
    <div class="card-image"></div>
    <div class="card-info">
      <h3> المؤسسه</h3>
      <div class="empty-div" style="border-color: rgb(225, 15, 40); margin: auto;"></div>
      <h2>نبيل الحلبي
      </h2>
      <p>بعض تم ماذا العناد. فكانت الأولية والإتحاد انه أم, و ماشاء ديسمبر ذات. أكثر والديون دون بل. وقد أي</p>
      <button style="margin-top: 43px;">اعرف اكثر</button>
    </div>
  </div>
</section>
<!--end section 5-->
<app-footer></app-footer>