<div class="sidebar bg-white p-20 p-relative">
  <a href="#" class="logo"><i class="fa-sharp fa-solid fa-hands-holding-child"></i> WeCare</a>
  <ul>
      <li>
          <a class="active d-flex align-center fs-5 c-black rad-6 p-10 mt-3" href="categories-list.html">
              <i class="fa-brands fa-cloudscale" style="margin-left: 10PX;"></i>
              <span class="fs-5">المقاييس</span>
          </a>
      </li>
      <li>
          <a class="d-flex align-center fs-5 c-black rad-6 p-10" href="friends.html">
              <i class="fa-regular fa-circle-user fa-fw" style="margin-left: 10PX;"></i>
              <span class="fs-5">الاخصائيين</span>
          </a>
      </li>
      <li>
          <a class="d-flex align-center fs-5 c-black rad-6 p-10" href="Profiles.html">
              <i class="fa-regular fa-user fa-fw" style="margin-left: 10PX;"></i>
              <span class="fs-5">المرضي </span>
          </a>
      </li>
  </ul>
</div>
